<Configuration xmlns="http://itude.com/schemas/MB/2.0">
    <Model>
        <Domains>
            <Include name="domains.xml"/>
        </Domains>
        <Documents>
            <!-- ********************* Documents for Webservice Requests ******************** -->
            <!--Include name="genericDocuments"/-->
            <!-- ********************* Documents for Application Configuration ******************** -->
            <!--Include name="appDocuments"/-->
            <!-- ********************* Documents for 'Mobbl Applications ******************** -->
            <Include name="documents.xml"/>
        </Documents>
    </Model>
    <Controller>
        <Actions>
            <Include name="actions.xml"/>
        </Actions>
        <Wiring>
            <Include name="outcomes.xml"/>
        </Wiring>
    </Controller>
    <View>	
        <Dialogs>
            <Include name="dialogs.xml"/>
            <Include name="dialogs_mobbl.xml"/>
        </Dialogs>
		<Include name="pages.xml"/>
        <Alerts>
            <Include name="alerts.xml"/>
        </Alerts>
    </View>
</Configuration>
